extends layout 

block content 

    h1 #{title} : #{genre.name}

    p Do you really want to delete this genre?

    form(method='POST')
        input.formControl( type='hidden', name='genreId', value=genre._id )

        button.btn.btn-primary( type='submit' ) Delete